.setting_item {
    width: 100%;
    height: 48px;
    margin-top: 2px;
    color: rgb(0, 39, 64);
}

.setting_item_bg_odd {
    background-color: #888b90;
}

.setting_item_bg_even {
    background-color: rgba(255, 255, 255, 0.6);
}

.setting_right_view {
    position: absolute;
    top: 100px;
    left: 364px;
    width: 836px;
    height: 498px;
    background: #a6a7ab;
    margin-top: 2px;
}

.setting_right_items {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 836px;
}

.setting_right_item {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 796px;
    height: 56px;
}

.setting_input {
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    height: 42px;
    width: 320px;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.setting_text {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    font-size: 24px;
    height: 48px;
    line-height: 48px;
}

.setting_table {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 280px;
    height: 498px;
    border-right: 4px solid #00507f;
    padding: 0px;
}

.setting_table td {
    padding: 0px;
}

.setting_button {
    float: right;
    margin-right: 60px;
    margin-top: 4px;
    width: 200px;
    height: 48px;
    text-align: center;
    background: gray;
    font-size: 24px;
    line-height: 48px;
}