
.home_cl {
  position: absolute;
  width: 1280px;
  height: 720px;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.home_table {
  margin-left: 149px;
}
.home_fource_list {
  position: absolute;
  width: 100%;
  height: 256px;
  top: 320px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
}
.home_up_arr {
  position: absolute;
  top: -20px;
  left: 650px;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgba(0, 0, 0, 0.3);
  border-left: 20px solid transparent;
}
.home_left_arr {
  position: absolute;
  top: 80px;
  left: 52px;
  width: 28px;
  height: 51px;
}
.home_right_arr {
  position: absolute;
  top: 80px;
  left: 1228px;
  width: 28px;
  height: 51px;
}

.common_text {
  width: 750px;
  height: 48px;
  color: white;
  font-weight: 600;
  font-size: 28px;
  text-align: right;
  letter-spacing: 3px;
  text-shadow: #000 2px 2px 2px;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.6);
}
.focus_text {
  width: 750px;
  height: 80px;
  color: #36b1fe;
  font-size: 48px;
  letter-spacing: 8px;
  font-weight: 700;
  text-align: right;
  text-shadow: #000 3px 3px 3px;
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.6);
  word-wrap: break-word;
  word-break: normal;
}
.list_icon {
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
  width: 150px;
  height: 200px;
}
.list_text {
  width: 150px;
  height: 30px;
  text-shadow: #000 2px 2px 2px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.6);
  font-size: 24px;
  color: white;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;
  letter-spacing: 3px;
  word-break: normal;
  overflow: hidden;
}
.in_pic {
  width: 140px;
  height: 140px;
  border: 5px solid ;
  border-radius: 28px;
  border-color: rgba(0, 0, 0, 0);
}