.head_class {
  position: absolute;
  top: 40px;
  left: 80px;
  width: 1120px;
  height: 50px;
}
.title {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 400px;
  height: 50px;
  text-align: left;
  color: white;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 3px;
}
.time {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
  width: 400px;
  height: 30px;
  text-align: right;
  color: white;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
}